/* .Projects {
    padding-bottom: 10%;
}

.prh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Playfair;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    left: 5%;
    margin-top: 30px;

}

.card1 {}

.phetoile {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.namep {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
    font-size: 20px;
}

.vc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #191de0;
}

.vc :hover {
    color: #fff;
}

.vc :active {
    color: #51b9e9;
}

.vc :visited {}



.card2 {}

.phcaps {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.card1:hover,
.card2:hover {
    transform: translateY(-10px);
} */


.card {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.projectCards{
    display: flex;
    justify-content: space-around;
}

.prh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Playfair;
}

.projectImage {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    transition: filter 0.3s ease;
}

.projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
}

.paragraph {
    color: #fff;
    font-size: 23px;
    margin-bottom: 10px;
}

.buttonContainer {
    margin-top: 80px;
}

.viewCode {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: #51b9e9;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.viewCodeLink {
    color: #51b9e9;
    text-decoration: none;
}

.card:hover .projectImage {
    filter: blur(5px);
}

.card:hover .projectOverlay {
    opacity: 1;
}