.Projects {
    padding-bottom: 10%;
}

.prh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Playfair;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    left: 5%;
    margin-top: 30px;

}

.card1 {}

.phetoile {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.namep {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
    font-size: 20px;
}

.vc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #191de0;
}

.vc :hover {
    color: #fff;
}

.vc :active {
    color: #51b9e9;
}

.vc :visited {}



.card2 {}

.phcaps {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}