.rectangle {
    position: absolute;
    background-color: #151515;
    width: 900px;
    height: 300px;
    top: 32%;
    left: 22%;
    border-radius: 30px;


}

.skh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Playfair;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    .rectangle {
        width: 100%;
        height: auto;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0;
        margin-bottom: 50px;
    }

    .skh1 {
        font-size: 24px;
    }
}