.nav {
    padding: 25px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.nav .scrolled {
    padding: 0px 0;
    background-color: #121212;
}

#navbarSupportedContent {
    display: inline-flex;
}

.navbar-nav-mr-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav-mr-auto li:hover {
    opacity: 1.5;
}

.nav-item {
    padding: 25px 25px;
    list-style-type: none;
    cursor: pointer;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.75;
    letter-spacing: 0.8px;
    font-size: 20px;


}


.social-icon {
    display: inline-flex;
    margin-left: 14px;
    align-self: center;
    align-items: flex-start;
    margin-right: 200px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


.vvd {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 25px 34px;
    font-size: 18px;
    margin-left: 270px;
    margin-right: 0;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    display: inline-flex;
    align-self: center;
}

.vvd span {
    z-index: 1;
}

.vvd::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.vvd:hover {
    background-color: #fff;
    color: #121212;
}

.vvd:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}